In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving carprices.csv to carprices.csv
User uploaded file "carprices.csv" with length 410 bytes

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv("carprices.csv")

In [6]:
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [7]:
dummies=pd.get_dummies(df['Car Model'])

In [8]:
dummies

    Audi  BMW X5  Mercedez Benz   Toyota
0      0       1               0       0
1      0       1               0       0
2      0       1               0       0
3      0       1               0       0
4      0       1               0       0
5      1       0               0       0
6      1       0               0       0
7      1       0               0       0
8      1       0               0       0
9      0       0               1       0
10     0       0               1       0
11     0       0               1       0
12     0       0               1       0
13     0       0               0       1
14     0       0               0       1
15     0       0               0       1

In [10]:
merged=pd.concat([df,dummies],axis='columns')

In [11]:
merged

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,0,1,0,0
1,BMW X5,35000,34000,3,0,1,0,0
2,BMW X5,57000,26100,5,0,1,0,0
3,BMW X5,22500,40000,2,0,1,0,0
4,BMW X5,46000,31500,4,0,1,0,0
5,Audi,59000,29400,5,1,0,0,0
6,Audi,52000,32000,5,1,0,0,0
7,Audi,72000,19300,6,1,0,0,0
8,Audi,91000,12000,8,1,0,0,0
9,Mercedez Benz,67000,22000,6,0,0,1,0
10,Mercedez Benz,83000,20000,7,0,0,1,0
11,Mercedez Benz,79000,21000,7,0,0,1,0
12,Mercedez Benz,59000,33000,5,0,0,1,0
13,Toyota,51000,42000,4,0,0,0,1
14,Toyota,65000,32000,7,0,0,0,1
15,Toyota,39000,55000,5,0,0,0,1

In [12]:
final=merged.drop(['Car Model'],axis='columns')

In [13]:
y=final['Sell Price']

In [14]:
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
13    42000
14    32000
15    55000
Name: Sell Price, dtype: int64

In [15]:
X= final[['Mileage', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ','Toyota']]

In [16]:
final.shape

(16, 7)

In [17]:
final.columns

Index(['Mileage', 'Sell Price', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ',
       'Toyota'],
      dtype='object')

In [19]:
X

    Mileage  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000    6     0       1               0       0
1     35000    3     0       1               0       0
2     57000    5     0       1               0       0
3     22500    2     0       1               0       0
4     46000    4     0       1               0       0
5     59000    5     1       0               0       0
6     52000    5     1       0               0       0
7     72000    6     1       0               0       0
8     91000    8     1       0               0       0
9     67000    6     0       0               1       0
10    83000    7     0       0               1       0
11    79000    7     0       0               1       0
12    59000    5     0       0               1       0
13    51000    4     0       0               0       1
14    65000    7     0       0               0       1
15    39000    5     0       0               0       1

In [20]:
#Dataset splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,random_state=1)

In [21]:
#Train Model 
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [22]:
#predict
reg.predict(X_test)

array([43346.0890394 , 48316.18898158, 22713.32287107, 23723.16015528])

In [23]:
#best fit line
#plt.plot(X,reg.predict(X))

In [25]:
reg.coef_

array([-3.75716528e-01, -2.22023623e+03, -2.06698398e+03, -8.91313083e+03,
       -2.25247791e+02,  1.12053626e+04])

In [26]:
reg.intercept_

65153.314198397646

In [27]:
reg.score(X_test,y_test)

0.8100311219682477

In [28]:
reg.predict([[72000,4,0,0,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([40426.14190138])